$border-line: 1px solid #d4d9dd;
$bulb-border-radius: 5px;

html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%; margin: 0; padding: 0;
}

.b-container {
    display: table;
    width: 100%; 
    height: 100%;
}

.b-control-bar {
	background-color: #e9eef3;
	border-bottom: $border-line;
    
    &__buttons {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: right;
    }
    
    &__item {
        display: inline-block;
        padding: 20px;
        border-left: $border-line;
        height: 100%;
    }
}

.b-messages-area {
	background-color: #f1f5f8;
	border-bottom: $border-line;
    padding: 2% 0;
    display: table-row; height: 100%;
    &-wrapper {
        display: table-cell;
        vertical-align: bottom;
    }
}

.b-message {

    margin-bottom: 2%;

    &_receiver {
        text-align: right;
    }
	
	// line-height: 110px;

    &-avatar-wrapper {
        text-align: center;
        display: inline-block;
        line-height: normal;
        vertical-align: top;
        font-size: 0.8em;
    }

    &-avatar-wrapper_sender {
        margin-left: 2%;
    }

    &-avatar-wrapper_receiver {
        margin-right: 2%;
    }

    &__bulb {    
        display: inline-block;
        line-height: normal;
        vertical-align: top;
        border-radius: $bulb-border-radius;
        padding: 15px;
        position: relative;
        width: auto;
        max-width: 70%;
        font-weight: 300;
        
        &_sender {
            background-color: #ffffff;
            margin: 0 0 0 25px;
        
            &:before {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              left: -12px;
              top: 15px;
              border: 6px solid;
              border-color: transparent #ffffff transparent transparent;
            }
        }

        &_receiver {
            background-color: #0084ff;
            color: #ffffff;
            margin: 0 25px 0 0;

            &:before {
              content: ' ';
              position: absolute;
              width: 0;
              height: 0;
              right: -12px;
              top: 15px;
              border: 6px solid;
              border-color: transparent transparent transparent #0084ff;
            }
        }
    }
    
}

.b-entry {
    padding: 0.5% 0.5%;
    &__item {
        // padding: 10px;
        line-height: normal;
        vertical-align: middle;
        padding: 0 0.3%;
        // height: 30px;

        &_attach {
            float: left;
        }

        &_emoji {
            float: right;
        }

        &_input-wrapper {
            overflow: hidden;   
        }
        
        &_input {
            border: none;
            height: 39px;
            width: 100%;
        }

        &_input:focus {
            outline: none !important;
        }

        &_send {
            float: right;
            border-radius: 100px;
            width: 39px;
            height: 39px;
        }
    }
}