html, body {
  font-family: 'Roboto', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0; }

.b-container {
  display: table;
  width: 100%;
  height: 100%; }

.b-control-bar {
  background-color: #e9eef3;
  border-bottom: 1px solid #d4d9dd; }
  .b-control-bar__buttons {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: right; }
  .b-control-bar__item {
    display: inline-block;
    padding: 20px;
    border-left: 1px solid #d4d9dd;
    height: 100%; }

.b-messages-area {
  background-color: #f1f5f8;
  border-bottom: 1px solid #d4d9dd;
  padding: 2% 0;
  display: table-row;
  height: 100%; }
  .b-messages-area-wrapper {
    display: table-cell;
    vertical-align: bottom; }

.b-message {
  margin-bottom: 2%; }
  .b-message_receiver {
    text-align: right; }
  .b-message-avatar-wrapper {
    text-align: center;
    display: inline-block;
    line-height: normal;
    vertical-align: top;
    font-size: 0.8em; }
  .b-message-avatar-wrapper_sender {
    margin-left: 2%; }
  .b-message-avatar-wrapper_receiver {
    margin-right: 2%; }
  .b-message__bulb {
    display: inline-block;
    line-height: normal;
    vertical-align: top;
    border-radius: 5px;
    padding: 15px;
    position: relative;
    width: auto;
    max-width: 70%;
    font-weight: 300; }
    .b-message__bulb_sender {
      background-color: #ffffff;
      margin: 0 0 0 25px; }
      .b-message__bulb_sender:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        left: -12px;
        top: 15px;
        border: 6px solid;
        border-color: transparent #ffffff transparent transparent; }
    .b-message__bulb_receiver {
      background-color: #0084ff;
      color: #ffffff;
      margin: 0 25px 0 0; }
      .b-message__bulb_receiver:before {
        content: ' ';
        position: absolute;
        width: 0;
        height: 0;
        right: -12px;
        top: 15px;
        border: 6px solid;
        border-color: transparent transparent transparent #0084ff; }

.b-entry {
  padding: 0.5% 0.5%; }
  .b-entry__item {
    line-height: normal;
    vertical-align: middle;
    padding: 0 0.3%; }
    .b-entry__item_attach {
      float: left; }
    .b-entry__item_emoji {
      float: right; }
    .b-entry__item_input-wrapper {
      overflow: hidden; }
    .b-entry__item_input {
      border: none;
      height: 39px;
      width: 100%; }
    .b-entry__item_input:focus {
      outline: none !important; }
    .b-entry__item_send {
      float: right;
      border-radius: 100px;
      width: 39px;
      height: 39px; }
